<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>pages/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>registration</servlet-name>
        <jsp-file>/pages/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>main</servlet-name>
        <jsp-file>/pages/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/pages/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/in</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registrationServlet</servlet-name>
        <servlet-class>servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationServlet</servlet-name>
        <url-pattern>/regServlet</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <res-ref-name>jdbc/OracleDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <jsp-config>
        <jsp-property-group>
            <description>s</description>
            <display-name>Header_Footer</display-name>
            <url-pattern>/pages/*</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/Header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/Footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
